<div class="tracker-block-title">Информация</div>
<div class="tracker-block-content">
    <div class="tracker-group-title active">Общая информация о трекере</div>
    <div class="tracker-info">
        <div class="tracker-info-row">
            <span class="bold">Название: </span>
            <span class="tracker-info-title"></span>
        </div>
        <div class="tracker-info-row">
            <span class="bold">Группа: </span>
            <span class="tracker-info-group"></span>
        </div>
        <div class="tracker-info-row">
            <span class="bold">Тариф: </span>
            <span class="tracker-info-tariff"></span>
        </div>
    </div>
    <div class="tracker-group-title active">Отображение</div>
    <div class="tracker-icons children-container"></div>
</div>