<div class="tracker-block-title">История</div>
<div class="tracker-block-content">
    <div class="period-row from">
        <div class="left-column">Период от:</div>
        <div class="right-column">
            <div class="input-wrapper">
                <input type="text" class="day"/>
                <span class="input-label">день</span>
            </div>
            <div class="input-wrapper">
                <input type="text" class="month"/>
                <span class="input-label">месяц</span>
            </div>
            <div class="input-wrapper">
                <input type="text" class="year"/>
                <span class="input-label">год</span>
            </div>
            <span class="divider"></span>
            <div class="input-wrapper">
                <input type="text" class="hour"/>
                <span class="input-label">часы</span>
            </div>
            <div class="input-wrapper">
                <input type="text" class="min"/>
                <span class="input-label">минуты</span>
            </div>
        </div>
    </div>
    <div class="period-row to">
        <div class="left-column">до:</div>
        <div class="right-column">
            <div class="input-wrapper">
                <input type="text" class="day"/>
                <span class="input-label">день</span>
            </div>
            <div class="input-wrapper">
                <input type="text" class="month"/>
                <span class="input-label">месяц</span>
            </div>
            <div class="input-wrapper">
                <input type="text" class="year"/>
                <span class="input-label">год</span>
            </div>
            <span class="divider"></span>
            <div class="input-wrapper">
                <input type="text" class="hour"/>
                <span class="input-label">часы</span>
            </div>
            <div class="input-wrapper">
                <input type="text" class="min"/>
                <span class="input-label">минуты</span>
            </div>
        </div>
    </div>
    <div class="history-link route">Вывод пройденного маршрута</div>
    <div class="history-link stop">Остановить просмотр маршрута</div>
</div>
</div>