<div class="left-strip">
    <a href="/about">
        <div class="top-bar-link about">О ПРОЕКТЕ</div>
    </a>
    <a href="/help">
        <div class="top-bar-link help">ПОМОЩЬ</div>
    </a>
</div>
<div class="center-strip">
    <a href="/trackers/map">
        <div class="top-bar-link map">КАРТА</div>
    </a>
</div>
<div class="right-strip">
    <a href="/shop" style="margin-left: 65px">
        <div class="top-bar-link shop">МАГАЗИН</div>
    </a>
    <a href="/price">
        <div class="top-bar-link cost">СТОИМОСТЬ</div>
    </a>
</div>